*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vmax;
    height: 100vh;
    background-image: linear-gradient(rgba(135, 206, 235, 0.5),rgba(135, 206, 235, 0.5)), url(/m-h-saboo-siddik-college-of-engineering-mumbai-254643.webp);
    background-position: absolute;
    background-size: cover;

}
#login{
    /* box-shadow: 5px 0 1px 0 rgba(0,0,0, 0.25); */
    background-color: #a8a8b0;
    height: 8vh;
    font-size: 6vh;
    text-align: center;
    /* border-radius: 5px; */
    text-shadow: 4px 3px 3px rgba(0,0,0, 0.25);
}

#box{
    margin : auto;
    position: relative;
    top: 5vh;
    background-color: white;
    /* border-radius: 20px; */
    box-shadow: 7px 7px 3px 3px rgba(0,0,0, 0.25);
    border: #0c4151;
    height: 90vh;
    width: 70vh;
}
.div1{
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 5vh;
    background-color: white;
    font-weight: bolder;
}
.email{
    margin-top: auto;

}
#space{
    margin-bottom: 25px;
}
.Password{
    margin-top: 25px;
}
